.button {
	display: inline-block;
	font-weight: 400;
	color: #ffffff;
	background-color: $color__primary;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: rem(10px) rem(20px);
	font-size: 1rem;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	//margin-bottom: 20px;
	border-radius: rem(30px);
	cursor: pointer;
	&.no-border {
		border-radius: 0;
	}

	&:hover{
		color: #ffffff;
		background-color:lighten($color__primary, 20);
		text-decoration: none;
		box-shadow: none
	}

	&.secondary{
		background-color: $color__secondary;
		color: $color__primary;
		&:hover{
			background-color:$color__primary;
			color: #FFFFFF;
		}
	}

	&.bordered{
		background-color: transparent;
		color: #5B54EE;
		border: 2px solid #5B54EE;

		&:hover{
			color: #fff;
			background-color: #5B54EE;
		}
	}

	&.pop{
		background-color: #00CCFF;
		color: #FFFFFF;
		&:hover{
			background-color: lighten(#00CCFF, 15);
		}
	}


	&:focus,
	&.focus {
		outline: 0;
	}

	&:disabled,
	&.disabled {
		opacity: 0.65;
		pointer-events: none;
	}

	&.more-link{
		margin-bottom: 0 !important;
	}
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-block {
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+ .btn-block {
		margin-top: 0.5rem;
	}
}

button{
	@extend .button;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@extend .button;
	&.btn-block {
		width: 100%;
	}
}

input[type="submit"],
input[type="reset"]{
	border-radius: 0 !important;
}