.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#comments-title{
	//border-bottom: 1px solid #ddd;
	//border-top: 1px solid #ddd;
}

.commentlist{
	margin: 0;
	padding: 0;
	list-style: none;
}

#comments-title {
	font-size: 1.2rem;
	line-height: 1;
	position: relative;
}

.no-comments #comments-title {
	padding-top: 6%;
}

@media only screen and (max-width: 600px) {
	#comments-title {
		font-size: 22px;
	}
}
#comments #respond {
	display: inline-block;
	width: 100%;
}

.commentlist + #respond {
	padding-top: 6%;
}

#comments .commentlist > li:nth-child(odd) #respond {
	border-top-color: #ddd
}

#reply-title,
#edd-reviews-heading {
	margin-bottom: 6%;
}

@media only screen and (max-width: 600px) {
	#reply-title,
	#edd-reviews-heading {
		font-size: 22px;
		margin-bottom: 5%;
	}
}
#comments .commentlist #respond #reply-title {
	text-align: left;
}

#commentform {
	font-size: 16px;
	margin-top: 3%;
}

#comments .commentlist #commentform {
	margin-top: 4%;
}

#respond label {
	padding-bottom: 4px;
}

#respond .comment-subscription-form {
	margin-bottom: 5px;
}

#respond .comment-subscription-form label {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
}

#respond p {
	position: relative;
}

#respond .required {
	color: #9BA6B2;
	display: none;
}

#respond p {
	margin-bottom: 15px;
}

#commentform p {
	width: 100%;
}

#comments .form-submit {
	margin: 10px 0 0 0 !important;
}

#respond .comment-form-comment {
	display: inline-block;
	width: 100%;
}

#respond textarea {
	line-height: 1.4;
	width: 100%;
}

.form-allowed-tags {
	font-size: 12px;
	line-height: 1.2;
	display: none;
	float: left;
	width: 100% !important;
	margin: 10px 0 25px 0;
	color: #999;
}

#comments .commentlist {
	margin: 0;
	list-style-type: none;
	counter-reset: li;
}

#comments .commentlist li {
	position: relative;

	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 6% 0 4% 0;
	list-style: none;
	border-bottom: solid 1px #ddd;
}

#comments .commentlist li:first-child {
	border-top: solid 1px #ddd;
}

#comments .commentlist .children {
	display: inline-block;
	width: 100%;
	margin: 5% 0 0 0;
	padding: 0;
}

#comments .commentlist .children li {
	padding-bottom: 0;
	padding-left: 10%;
	list-style: none;
}

#comments .commentlist .children li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

#comments .comment-block {
	position: relative;
	padding: 0;
}

#comments .comment-edit-link {
	color: #ccc;
}

#comments .comment-edit-link:hover {
	color: #3211C1;
}

#comments .comment-edit-link i {
	font-size: 11px;
	margin-left: 5px;
	vertical-align: middle;
}

#comments .comment-text {
	font-size: 16px;
	position: relative;
	display: inline-block;
	float: right;
	width: 86%;
}

p.no-comments {
	margin: 0;
	text-align: center;
	font-size: 16px;
	color: #84919E;
}

.commentlist + p.no-comments {
	margin-top: 4%;
}

#comments .comment-reply-link {
	font-size: 13px;
	text-transform: uppercase;
	color: #9ba6ad;
}

#comments .comment-reply-link:hover {
	color: #4a545a;
}

#comments .comment-reply-link:hover:after {
	content: "\2193";
}

#cancel-comment-reply-link {
	font-size: 11px;
	font-weight: bold;
	float: right;
	margin-top: 10px;
	padding: 3px 8px;
	text-transform: uppercase;
	color: #4a545a;
	border: solid 2px;
	border-radius: 40px;
}

#cancel-comment-reply-link:before {
	font-family: "FontAwesome";
	margin-right: 3px;
	content: "\f057";
}

#cancel-comment-reply-link:hover {
	color: #d54f4f;
}

#cancel-comment-reply-link i {
	font-size: 18px;
	color: #f74f4f;
}

#cancel-comment-reply-link i:hover {
	cursor: pointer;
	color: #555;
}

#comments .comment-notes,
#comments .logged-in-as {
	font-size: 15px;
	display: none;
	text-align: center;
	color: #9ba6ad;
}

#comments #email-notes {
	display: none;
}

#comments .commentlist #respond .comment-notes {
	font-size: 13px;
	display: none;
}

#comments .comment-notes .required {
	position: relative !important;
	top: auto !important;
	right: auto !important;
}

#comments .comment-awaiting-moderation {
	display: inline-block;
	font-style: normal;
	font-size: 16px;
	width: 100%;
	margin-top: 15px;
	padding: 20px;
	text-align: center;
}

#comments .comment-awaiting-moderation:before {
	font-family: "FontAwesome";
	margin-right: 10px;
	content: "\f058";
}

#comments .vcard-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
}

#comments .vcard {
	display: inline-block;
	float: left;
	width: 8%;
}

#comments .vcard img {
	float: left;
	width: 100%;
	border-radius: 50px;
}

#comments .fn {
	font-size: 20px;
	font-style: normal;
	line-height: 1;
	float: left;
	width: 100%;
	margin-top: 0;
	position: relative;
}

.bypostauthor > .comment-block .fn:before {
	font-family: "FontAwesome";
	font-size: 17px;
	margin-right: 5px;
	content: "\f044";
	color: #3211C1;
}

#comments .fn a {
	color: #4a545a;
}

#comments .fn a:hover {
	color: #9ba6b2;
	background: none;
}

#comments .comment-info {
	position: relative;
	display: inline-block;
	width: 100%;
}

#comments .comment-meta {
	line-height: 1;
	float: left;
	width: 100%;
	margin-bottom: 4%;
}

#comments .comment-time a {
	font-size: 13px;
	display: inline-block;
	padding-top: 10px;
	color: #9ba6ad;
}

#comments .comment-time a:hover {
	color: #555;
}

#comments .comment-time:hover {
	color: #999;
}

#comment-nav-below a {
	background: #E5EBEE;
	font-size: 16px;
}
@media only screen and (max-width: 600px) {
	#comment-nav-below a {
		width: 100%;
		padding: 10px 15px;
		font-size: 14px;
	}
}

#comment-nav-below .nav-previous {
	box-shadow: none;
	padding-left: 0;
}
@media only screen and (max-width: 600px) {
	#comment-nav-below .nav-previous {
		padding: 0;
	}
}

#comment-nav-below .nav-next {
	box-shadow: none;
	padding-right: 0;
}
@media only screen and (max-width: 600px) {
	#comment-nav-below .nav-next {
		padding: 0;
	}
}
