a img {
  border: 0;
}

body:not(.no-header-bg) .site{
  background-image: url("images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

body.no-header-bg{
  .site-logo{
    display: none;

    &.logo-white{
      display: block !important;
    }

  }
  .site-content{
    margin-top: -86px;
  }
}