#edd_register_form,
#edd_login_form {
    padding: 30px;
    max-width: rem(570px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.pluginever-captcha {
    margin-bottom: 20px;
}

.re-captcha-message {
    display: none;
}
.re-captcha-message-inner {
    background-color: #ff4a4a;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}