.my-account-customer {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 20px 0 rgba(16, 34, 65, 0.1);
    border-radius: 5px;

    .my-account-user-info {
        text-align: center;

        img {
            border-radius: 65px;
        }

        h3 {
            margin-top: 0;
        }
    }


    .my-account-nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 10px;

                a {
                    display: block;
                    font-size: 18px;
                    color: $color_menu_item;

                    &:hover {
                        color: $color__primary;
                    }
                }

                &.current-menu-item {
                    a {
                        color: $color__primary;
                    }
                }

                &.pluginever-account-info,
                &.pluginever-downloads {
                    a {
                        position: relative;
                        padding-left: 35px;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: 3px;
                            left: 0;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center center;
                        }
                    }
                }
                &.pluginever-downloads {
                    a {
                        &::before {
                            background-image: url( images/downloads.svg );
                        }
                        
                        &:hover {
                            &::before {
                                background-image: url( images/downloads-hover.svg );
                            }
                        }
                    }

                    &.current-menu-item {
                        a {
                            &::before {
                                background-image: url( images/downloads-hover.svg );
                            }
                        }
                    }
                }
                &.pluginever-account-info {
                    a {
                        &::before {
                            background-image: url( images/account-info.svg );
                        }

                        &:hover {
                            &::before {
                                background-image: url( images/account-info-hover.svg );
                            }
                        }
                    }

                    &.current-menu-item {
                        a {
                            &::before {
                                background-image: url( images/account-info-hover.svg );
                            }
                        }
                    }
                }
            }
        }
    }
}

.my-account-content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 20px 0 rgba(16, 34, 65, 0.1);
    border-radius: 5px;

    h3 {
        margin-top: 0;
    }

    .wpas-table,
    .edd_sl_table,
    .edd-table {
        border: none;
        border-spacing: 0;

        th {
            background-color: $table_header;
            color: #fff;
            padding: 10px !important;
            font-weight: 500;
            font-size: 14px;
        }

        th,
        td {
            border-bottom: none;
            border-top: none;
            padding: 15px 10px;
            text-align: left;
            font-size: 15px;
        }

        tbody {
            tr {
                border: none;
                &:nth-child(even) {
                    box-shadow: 0 10px 40px rgba( #727272, 0.13 );
                }
            }
        }
    }

    .edd_download_file{
        margin-bottom: 10px;
        .edd_download_file_link{
            padding-left: 30px;
            position: relative;
            &:before{
                content: '';
                background-image: url("images/cloud-download.svg");
                position: absolute;
                left: 0;
                height: 21px;
                width: 23px;
                background-size: 100%;
                margin-right: 10px;
                top: 0;
            }
        }
    }
}

