.dwqa-search .dwqa-autocomplete{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.dwqa-breadcrumbs{
  background: #f9f9f9;
  padding: 10px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}

.dwqa-question-item{
  a{
    color: $color__text-main;
  }
}

.dwqa-ask-question a{
  @extend .button;

  border-radius: 0 !important;
  padding: rem(10px) rem(15px)!important;
  border: 0 !important;
}

.dwqa-pagination{
  @extend .page-navigation;
  width: auto;
  margin: 0;
  .dwqa-page-numbers {
    padding: rem(10px) rem(15px);
    display: inline-block;
    border-radius: 2px;
    line-height: 1;
    background: $color__secondary;
    color: $color__primary;
    font-size: inherit;
    text-decoration: none;

    &:hover {
      background: $color__primary;
      color: #ffffff;
    }

    &.dwqa-current{
      background-color: $color__primary;
      color: #ffffff;
    }

  }
}

.dwqa-questions-footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.dwqa-question-filter a.active{
  border-bottom:1px solid $color__primary !important;
}

.dwqa-btn-primary{
  @extend .button;
  border-radius: 0 !important;
}

.wp-editor-tabs{
  button.wp-switch-editor{
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}

/*AWESOME SUPPORT*/
.wpas-btn{
  @extend .btn;
}
.wpas-link-privacy{
  display: none;
}
#wpas_files_wrapper{
  padding-left: 15px;
  padding-right: 15px;
}


/*EDD*/

/*ELEMENTOR*/
.elementor-widget-posts .elementor-post__excerpt p{
  margin-bottom: 20px !important;
}

/*GRAVITY FORM*/
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
  margin-top: 0 !important;
}
.elementor-widget-heading .elementor-heading-title{
  line-height: 1.5;
}