.plugin-card {
    margin-bottom: 30px;
}
.plugin-card-inner {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    border-radius: 3px;
    height: 100%;
    transition: all .25s;

    .entry-header {
        padding: 0;

    }
    
    .entry-content {
        margin: 0;
        padding: 20px 30px;

        .entry-title {
            font-size: 21px;
            margin-top: 0;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .more-link {

        }
    }

    &:hover {
        box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
    }
}