.sticky {
  display: block;
}

article.post,
article.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0 0 1.5rem 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.post {
  .entry-meta {
    color: #656A8F;
    transition: all 0.3s;
  }

  .entry-meta,
  .entry-footer {
    font-size: rem(14px);
    margin: 1rem 0 1rem;

    i{
      color: $color__primary;
      margin-right: 0.3rem;
    }

    span {
      margin: 0 1rem 0.4rem 0;
      display: inline-block;

      &:last-child {
        margin: 0;
      }

      a {
        text-decoration: none;
        font-size: inherit !important;
        //color: $gray-600;

        &:hover {
          //color: $gray-900;
        }
      }
    }

    .comments-link {
      color: #8E93A6;

      .fa {
        color: #FF4B86;
      }
    }

    .byline {
      a{
        color: #8E93A6;
      }

      .fa {
        color: #9013FE;
      }
    }

    .posted-on {
      a {
        color: #8E93A6;
      }

      .fa {
        color: #A84BFF;
      }
    }

    .cat-links{
      a{
        background: #9013FE;
        color: #ffffff;
        border-radius: 15px;
        padding: 2px 10px;
      }
    }


    .edit-link {
      .btn {
        //color: $white;

        &:hover {
          //color: $white;
        }
      }
    }
  }

  .tags-links{
    a{
      color: #7a7a7a;
    }
  }
}

.post{
  .post-thumbnail{
    display: block;
    margin-bottom: 1rem;

    img{
      border-radius: 15px;
      box-shadow: 0 2px 20px 0 rgba(16,34,65,0.10);
    }
  }
}

.single-post{

  .site-main{
    padding-bottom: 50px;
  }
  .entry-header{
    text-align: center;
  }
  .site-content{
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}


.blog {
  .post {
      .entry-header {
          text-align: left;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .entry-title {
              margin-top: 0;
          }
      }
      
      .entry-content {
          > .elementor {
              + p {
                  margin-bottom: 0;
              }
          }
      }
  }
}
