.site-footer {
  background-color: #1D2643;
  background-image: url('images/pluginever-footer-bg-illustration.png');
  background-repeat: no-repeat;
  padding: 100px 0 50px;
  color: #fff;
  background-size: contain;
  background-position: bottom center;

  .site-branding {
    margin-bottom: 20px;

    a {
      display: block;

      img {
        height: 48px;
        width: auto;
      }
    }
  }

  .footer-top-left,
  .footer-top-right {
    width: 60%;
    float: left;
    overflow: hidden;
  }

  .footer-top-right {
    width: 40%;
  }

  .footer-menu {
    width: 50%;
    float: left;
    overflow: hidden;

    .footer-menu-title {
      margin-top: 0;
      margin-bottom: 20px;
      @include font-size(1.375);
      font-weight: 500;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          color: #5F6A8D;
          text-decoration: none;
          @include font-size(1.125);
          display: block;
          margin-bottom: 15px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .footer-subscribe-area {
    h4 {
      @include font-size(1.375);
      font-size: 22px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      @include font-size(1.125);
      font-weight: 300;
      color: #5F6A8D;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .footer-menu {
    width: 50%;
    float: left;
    overflow: hidden;

    .footer-menu-title {
      margin-top: 0;
      margin-bottom: 20px;
      @include font-size(1.375);
      font-weight: 500;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          color: #5F6A8D;
          text-decoration: none;
          @include font-size(1.125);
          display: block;
          margin-bottom: 15px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .footer-subscribe-area {
    h4 {
      @include font-size(1.375);
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      @include font-size(1.125);
      font-weight: 300;
      color: #5F6A8D;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .footer-subscribe-form {
    padding-top: 10px;

    p {
      @include font-size(1.25);
      margin-bottom: 10px;
    }

    input {
      height: 40px;
      background: #fff;
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 10px 20px;
      margin-bottom: 10px;

      &[type="email"] {
        width: 300px;
        margin-right: 10px;
      }

      &[type=submit] {
        padding: 10px 30px;
        background: #0F60CA;
        cursor: pointer;
        @include font-size(1);
        font-weight: 600;
        color: #fff;
        border-color: #0F60CA;
        transition: .35s;
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  .site-info {
    padding: 100px 0 20px;
    @include font-size(1.125);
    color: #7582A9;
    text-align: center;
    clear: both;
    display: block;
    margin: auto;

    p {
      margin: 0;
    }

    a {
      color: #7582A9;
      text-decoration: none;
    }
  }

  .footer-menu-title, h4{
    color: #fff;
  }
}

@media screen and (max-width: 760px) {
  .site-footer {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    .widget_nav_menu, .footer-top-left {
      display: block;
      width: 100%;
      clear: both;
      float: none;
      margin-bottom: 30px;
    }

    .footer-top-right {
      display: block;
      width: 100%;
      clear: both;
      float: none;
    }

    .site-info {
      padding-top: 50px;
    }
  }
}