.site-header {
  padding: rem(20px);
  background-color: transparent;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 99;

  .container {
    position: relative;
  }

  .site-branding {
    a {
      display: block;
      line-height: 1;
    }
  }

  &.is-sticky {
    top: 0;
    position: fixed;
    animation-name: slideInDown;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 13px 22px -5px rgba(0, 0, 0, .06);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 15;

    .site-logo {
      max-height: 40px;
      display: block !important;

      &.logo-white {
        display: none !important;
      }
    }
  }
}

.admin-bar .is-sticky {
  margin-top: 32px;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }

  to {
    transform: translate3d(0, 0, 0)
  }
}


.hero-title {
  text-align: center;
  padding: 2.5rem 0 2rem;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;

  h1, p {
    margin: 0;
  }

  h1 {
    font-size: rem(40px);
    line-height: 2.85rem;
  }

  .entry-subtitle {
    margin-top: rem(8px);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3211c1;
    display: block;
  }
}

.entry-header,.page-header {
  text-align: left;
  padding: 2.5rem 0 2rem;
  margin-left: auto;
  margin-right: auto;

  h1, p {
    margin: 0;
  }

  h1 {
    font-size: rem(40px);
    line-height: 2.85rem;
  }

  .entry-subtitle {
    margin-top: rem(8px);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3211c1;
  }
}

@media screen and (max-width: 767px) {
  .site-header {
    padding: 0.5rem;

    .site-logo {
      max-width: 157px;
    }
  }
}