.sticky-offer {
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background: #f34957;
  padding: 10px 0;

  .row {
    display: flex;
    align-items: center;
  }


  .offer-name {
    font-family: Eina03;
    font-weight: 600;
    font-size: 1rem;
    text-transform: none;
    display: block;
  }

  .offer-headline {
    font-family: Eina03;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  span.coupon-code {
    display: inline-block;
    /* background: yellow; */
    border: 1px dashed;
    padding: 0 10px;
    border-radius: 5px;
  }
}

.site-footer {
  padding-bottom: 60px;
}

@media only screen and (max-device-width: 480px) {
  .sticky-offer {
    display: none;
  }
}