@font-face {
  font-family: "Eina03";
  src: url("fonts/eina-bold.eot");
  src: url("fonts/eina-bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/eina-bold.woff") format("woff"),
  url("fonts/eina-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Eina03";
  src: url("fonts/eina-semibold.eot");
  src: url("fonts/eina-semibold.eot?#iefix") format("embedded-opentype"),
  url("fonts/eina-semibold.woff") format("woff"),
  url("fonts/eina-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Eina03";
  src: url("fonts/eina-regular.eot");
  src: url("fonts/eina-regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/eina-regular.woff") format("woff"),
  url("fonts/eina-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Eina03";
  src: url("fonts/eina-light.eot");
  src: url("fonts/eina-light.eot?#iefix") format("embedded-opentype"),
  url("fonts/eina-light.woff") format("woff"),
  url("fonts/eina-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "MaisonNeue";
  src: url("fonts/MaisonNeue-Bold.woff2") format("woff2"),
  url("fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("fonts/MaisonNeue-Demi.woff2") format("woff2"),
  url("fonts/MaisonNeue-Demi.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("fonts/MaisonNeue-Book.woff2") format("woff2"),
  url("fonts/MaisonNeue-Book.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("fonts/MaisonNeue-Light.woff2") format("woff2"),
  url("fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("fonts/MaisonNeue-Thin.woff2") format("woff2"),
  url("fonts/MaisonNeue-Thin.woff") format("woff");
  font-weight: 100;
}
