.download-header {
  padding: rem(200px) 0 rem(200px) 0;
  background-image: linear-gradient(0deg, #3211C1 0%, #6E6DFF 100%);
  position: relative;
  text-align: left;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: rem(150px) 0 rem(50px) 0;
  }

  .download-header-shapes {
    background-image: url("images/download-shapes-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 44px;
    opacity: 0.7;
    z-index: 1;
  }

  .download-header-image {
    background-image: url("images/download-header-image.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.7;
    z-index: 1;
  }

  .download-header-curve-shape {
    background-image: url("images/download-shape-divider.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 102%;
    height: 102%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: contain;
    @media (max-width: 768px) {
      display: none;
    }
  }


  .container, .row {
    position: relative;
    z-index: 9;
  }

  .post-title {
    font-family: $font__eina;
    font-size: rem(25px);
    color: #FFFFFF;
    letter-spacing: 0.23px;
    line-height: rem(35px);
    margin-bottom: rem(15px);
  }

  .download-subtitle {
    color: #aebff7;
    letter-spacing: 0.23px;
    margin-bottom: 0.625rem;
    font-size: 0.9rem;
  }

  .download-excerpt {
    color: #CED8F9;
    letter-spacing: 0.15px;
    line-height: rem(24px);
    margin-bottom: rem(15px);
  }

  .download-meta-button {
    background: rgba(95, 95, 249, 0.65);
    //border-radius: 30px;
    padding: 7px 20px;
    color: #CBBEFE;
    font-size: rem(14px);
    margin-left: 10px;
  }

  .edd-cart-added-alert {
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
    .download-image-wrapper{
      margin-bottom: 50px;
    }
  }

}

.download-stat {
  position: relative;
  z-index: 9;
  padding: 90px 0;

  .download-stat-block-wrap {
    background: #FFFFFF;
    box-shadow: 0 3px 31px 0 rgba(206, 221, 242, 0.50);
    border-radius: 79px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px 0;

    .download-stat-block {
      flex: 0 0 33%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-family: $font__eina;

      .number {
        font-size: rem(30px);
        line-height: 1;
      }

      .count-type {
        font-size: rem(11px);
      }

      &:nth-child(1) {
        color: #745AFF;
      }

      &:nth-child(2) {
        color: #1FBD9E;
      }

      &:nth-child(3) {
        color: #FE6189;
      }
    }

    @media screen and (max-width: 767px) {
      flex-flow: column;

      .download-stat-block {
        margin: 20px 0;
      }
    }
  }

  .download-customer-satisfaction-block {
    background: #FFFFFF;
    box-shadow: 0 3px 31px 0 rgba(206, 221, 242, 0.50);
    border-radius: 79px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 24px 30px;
    color: #009FFF;
    font-family: $font__eina;
    align-items: center;

    &-inside {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    span + span {
      font-weight: 600;
    }

    @media screen and (max-width: 767px) {
      width: 100% !important;
      max-width: 100% !important;
    }

  }

  @media screen and (max-width: 991px) {
    .row {
      flex-flow: column;
      align-items: center;
    }

    .download-stat-block-wrap {
      width: 100%;
      max-width: 100%;
    }

    .download-customer-satisfaction-block {
      width: 60%;
      max-width: 60%;
      margin-top: 20px;
    }
  }

}