.edd-cart-btn, .edd-add-to-cart, .edd_go_to_checkout {
  @extend .btn;
  background-color: #FE6189 !important;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;

  &:hover {
    background-color: darken(#FE6189, 5) !important;
    box-shadow: 0 15px 50px 0 rgba(254, 97, 137, 0.29);
    color: #ffffff;
  }
}


.edd_purchase_submit_wrapper {
  display: inline-block;
}