/**
 * Easy Digital Downloads Styles
 *
 * @package	 EDD
 * @subpackage  CSS
 * @copyright   Copyright (c) 2015, Pippin Williamson
 * @license	 http://opensource.org/licenses/gpl-2.0.php GNU Public License
*/
@charset "UTF-8";

/* Base styles for SVG icons. */

.edd-icon {
  display: inline-block;
  fill: currentColor;
  position: relative; /* Align more nicely with capital letters */
  top: -0.0625em;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.edd-icon-lock {
  top: -0.125rem;
}

.edd-icon-spin {
  display: inline-block;
  -moz-animation: edd-icon-spin 2s infinite linear;
  -o-animation: edd-icon-spin 2s infinite linear;
  -webkit-animation: edd-icon-spin 2s infinite linear;
  animation: edd-icon-spin 2s infinite linear;
}

@-moz-keyframes edd-icon-spin {
  0% {
    -moz-transform: rotate(0deg)
  }
  100% {
    -moz-transform: rotate(359deg)
  }
}

@-webkit-keyframes edd-icon-spin {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg)
  }
}

@-o-keyframes edd-icon-spin {
  0% {
    -o-transform: rotate(0deg)
  }
  100% {
    -o-transform: rotate(359deg)
  }
}

@-ms-keyframes edd-icon-spin {
  0% {
    -ms-transform: rotate(0deg)
  }
  100% {
    -ms-transform: rotate(359deg)
  }
}

@keyframes edd-icon-spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}


/* =Checkout Form
-------------------------------------------------------------- */
.edd_clearfix:after {
  display: block;
  visibility: hidden;
  float: none;
  clear: both;
  text-indent: -9999px;
  content: ".";
}

/* Cart Contents */
#edd_checkout_cart {
  text-align: left;
  width: 100%;
  border: none;
  margin: 0 0 21px;
  table-layout: auto;
}

#edd_checkout_cart th,
#edd_checkout_cart td {
  text-align: left;
  border: 1px solid #eee;
  color: #666;
  padding: 0.5em 1.387em;
}

#edd_checkout_cart .edd_cart_header_row th {
  background: #fafafa;
  //padding: 1em;
}

#edd_checkout_cart .edd_cart_tax_row th,
#edd_checkout_cart .edd_cart_discount_row th {
  background: none;
}

#edd_checkout_cart th {
  font-weight: bold;
}

#edd_checkout_cart td {
  line-height: 25px;
  vertical-align: middle;
  background: #fff;
}

#edd_checkout_cart th.edd_cart_actions,
#edd_checkout_cart td.edd_cart_actions,
#edd_checkout_cart th:last-child,
#edd_checkout_cart td:last-child,
#edd_checkout_cart th.edd_cart_total {
  text-align: right;
}

#edd_checkout_cart td img {
  float: left;
  margin: 0 8px 0 0;
  background: none;
  padding: 0;
  border: none;
}

#edd_checkout_cart input.edd-item-quantity {
  width: 3em;
  padding: 2px;
}

#edd_checkout_cart .edd_discount {
  display: inline-block;
  margin-left: 5px;
}

.edd_discount_remove {
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url(images/xit.gif) 0 0 no-repeat;
  position: relative;
  top: 3px;
}

.edd_discount_remove:hover {
  background-position: -10px 0;
}

#edd_checkout_cart br {
  display: none;
}

#edd_checkout_cart a.edd-cart-saving-button {
  font-weight: normal;
  text-decoration: none;
}

/* Checkout Fields */
#edd_checkout_form_wrap legend {
  display: block;
  font-size: 120%;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  margin: 0 0 21px;
  padding: 0;
}

#edd_checkout_form_wrap label {
  font-weight: bold;
  display: block;
  position: relative;
  line-height: 100%;
  font-size: 95%;
  margin: 0 0 5px;
}

#edd_checkout_form_wrap span.edd-description {
  color: #666;
  font-size: 80%;
  display: block;
  margin: 0 0 5px;
}

#edd_checkout_form_wrap input.edd-input,
#edd_checkout_form_wrap textarea.edd-input {
  display: inline-block;
  width: 70%;
}

#edd_checkout_form_wrap select.edd-select {
  display: block;
  width: 60%;
}

#edd_checkout_form_wrap select.edd-select.edd-select-small {
  display: inline;
  width: auto;
}

#edd_checkout_form_wrap input.edd-input.error,
#edd_checkout_form_wrap textarea.edd-input.error {
  border-color: #c4554e;
}

#edd_checkout_form_wrap > p {
  margin: 0 0 21px;
}

#edd_checkout_form_wrap span.edd-required-indicator {
  color: #b94a48;
  display: inline;
}

#edd_checkout_form_wrap textarea,
#edd_checkout_form_wrap input[type="text"],
#edd_checkout_form_wrap input[type="email"],
#edd_checkout_form_wrap input[type="password"],
#edd_checkout_form_wrap input[type="tel"] {
  padding: 4px 6px;
}

#edd_checkout_form_wrap input[type="radio"] {
  border: none;
  margin-right: 5px;
}

#edd_checkout_form_wrap input[type="checkbox"] {
  display: inline-block;
  margin: 0 5px 0 0;
}

#edd_checkout_form_wrap input[type="checkbox"] + label,
#edd_checkout_form_wrap input[type="checkbox"] + label:after {
  display: inline;
}

#edd_checkout_form_wrap .edd-payment-icons {
  height: 32px;
  display: block;
  margin: 0 0 8px;
}

#edd_checkout_form_wrap .edd-payment-icons img.payment-icon {
  max-height: 32px;
  width: auto;
  margin: 0 3px 0 0;
  float: left;
  background: none;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#edd_checkout_form_wrap #edd-payment-mode-wrap label {
  display: inline-block;
  margin: 0 20px 0 0;
}

#edd_checkout_form_wrap #edd-payment-mode-wrap .edd-payment-mode-label {
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}

#edd_checkout_form_wrap fieldset {
  border: 1px solid #eee;
  padding: 1.387em;
  margin: 0 0 21px;
}

#edd_checkout_form_wrap #edd_purchase_submit,
#edd_checkout_form_wrap #edd_discount_code,
#edd_checkout_form_wrap #edd_register_account_fields {
  padding: 0;
  border: none;
}

#edd_checkout_form_wrap fieldset fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

#edd_checkout_form_wrap #edd-login-account-wrap,
#edd_checkout_form_wrap #edd-new-account-wrap,
#edd_checkout_form_wrap #edd_show_discount,
#edd_checkout_form_wrap .edd-cart-adjustment,
#edd_checkout_form_wrap #edd_final_total_wrap {
  background: #fafafa;
  color: #666;
  padding: 0.5em 1.387em;
}

#edd_checkout_form_wrap #edd-discount-code-wrap,
#edd_checkout_form_wrap #edd_final_total_wrap,
#edd_checkout_form_wrap #edd_show_discount {
  border: 1px solid #eee;
}

#edd_checkout_form_wrap .edd-cart-adjustment {
  padding: 1.387em;
}

#edd_checkout_form_wrap .edd-cart-adjustment input.edd-input,
#edd_checkout_form_wrap .edd-cart-adjustment input.edd-submit {
  display: inline-block;
}

#edd_checkout_form_wrap .edd-cart-adjustment input.edd-submit {
  padding: 7px 25px;
  margin-bottom: 2px;
}

#edd_checkout_form_wrap #edd-discount-error-wrap {
  width: 100%;
  display: inline-block;
  margin: 1em 0 0;
}

#edd_checkout_form_wrap #edd-new-account-wrap,
#edd_checkout_form_wrap #edd-login-account-wrap {
  margin: -1.387em -1.387em 21px;
  border-left: none;
  border-right: none;
  border-top: none;
}

#edd_checkout_form_wrap #edd_payment_mode_select {
  margin-bottom: 21px;
}

#edd_checkout_form_wrap fieldset#edd_register_fields #edd_checkout_user_info {
  margin-bottom: 21px;
}

#edd_checkout_form_wrap fieldset#edd_register_account_fields legend {
  padding-top: 11px;
}

#edd_checkout_form_wrap fieldset#edd_register_account_fields p.edd_register_password,
#edd_checkout_form_wrap fieldset#edd_register_account_fields p.edd_login_password {
  margin: 0;
}

#edd_checkout_form_wrap fieldset#edd_cc_fields {
  border: 1px solid #f0f0f0;
  background: #f9f9f9;
  position: relative;
}

#edd_checkout_form_wrap fieldset#edd_cc_fields legend {
  border: none;
  padding: 0;
}

#edd_checkout_form_wrap fieldset p:last-child {
  margin-bottom: 0;
}

#edd_checkout_form_wrap fieldset#edd_cc_fields #edd-card-number-wrap {
  margin-top: 5px;
}

#edd_checkout_form_wrap #edd_purchase_final_total {
  margin: 21px 0;
}

#edd_checkout_form_wrap #edd_purchase_final_total p {
  margin: 0;
}

#edd_secure_site_wrapper {
  padding: 4px 4px 4px 0;
  font-weight: bold;
}

#edd_checkout_form_wrap input.edd-input.card-number.valid {
  background-image: url(images/tick.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

#edd_checkout_form_wrap span.exp-divider {
  display: inline;
}

#edd_checkout_form_wrap span.card-type {
  position: absolute;
  top: -2px;
  right: 0;
  width: 43px;
  height: 32px;
  background-size: 43px 32px !important;
}

#edd_checkout_form_wrap span.card-type.off {
  display: none;
}

#edd_checkout_form_wrap span.card-type.visa {
  background: url(images/icons/visa.png) no-repeat;
}

#edd_checkout_form_wrap span.card-type.mastercard {
  background: url(images/icons/mastercard.png) no-repeat;
}

#edd_checkout_form_wrap span.card-type.discover {
  background: url(images/icons/discover.png) no-repeat;
}

#edd_checkout_form_wrap span.card-type.amex {
  background: url(images/icons/americanexpress.png) no-repeat;
}

#edd_checkout_form_wrap .edd-cart-ajax {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.edd-amazon-profile-wrapper {
  font-size: 12px;
}

.edd-amazon-profile-name {
  font-weight: 600;
}

.edd-amazon-logout {
  font-size: 10px;
  line-height: 12px;
}

.edd-amazon-logout a {
  cursor: pointer;
}

#edd-amazon-wallet-box,
#edd-amazon-address-box {
  height: 228px;
  width: 350px;
}

#edd-amazon-address-box {
  margin-bottom: 15px;
}

/* Desktop and tablet */
@media only screen and (min-width: 768px) {
  #edd-amazon-address-box,
  #edd-amazon-wallet-box {
    width: 100%;
    height: 228px;
  }
}


/* =Ajax Add To Cart Button
-------------------------------------------------------------- */
.edd_purchase_submit_wrapper {
  position: relative;
  @media screen and (max-width: 767px) {
    display: block !important;
    text-align: center;
    //margin: 35px;
  }
}

.edd_purchase_submit_wrapper a.edd-add-to-cart {
  text-decoration: none;
  display: none;
  position: relative;
  overflow: hidden;
}

.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
  display: inline-block;
}

.edd_purchase_submit_wrapper .edd-cart-ajax {
  display: none;
  position: relative;
  left: -35px;
}

.edd-submit.button.edd-ajax-loading {
  padding-right: 30px;
}

.edd-add-to-cart .edd-add-to-cart-label {
  opacity: 1;
  filter: alpha(opacity=100);
}

.edd-loading,
.edd-loading:after {
  border-radius: 50%;
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.edd-loading {
  -webkit-animation: edd-spinning 1.1s infinite linear;
  animation: edd-spinning 1.1s infinite linear;
  border-top: 0.2em solid rgba(255, 255, 255, 0.2);
  border-right: 0.2em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
  border-left: 0.2em solid #fff;
  font-size: 0.75em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

a.edd-add-to-cart.white .edd-loading,
.edd-discount-loader.edd-loading,
.edd-loading-ajax.edd-loading {
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-left-color: #000;
}

.edd-loading-ajax.edd-loading {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0.25em;
  vertical-align: middle;
}

#edd_checkout_form_wrap .edd-cart-adjustment .edd-apply-discount.edd-submit {
  display: inline-block;
}

.edd-discount-loader.edd-loading {
  display: inline-block;
  position: relative;
  left: auto;
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
}

.edd-loading-ajax.edd-loading {
  opacity: 1;
}

@-webkit-keyframes edd-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes edd-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a.edd-add-to-cart .edd-add-to-cart-label,
.edd-loading {
  -webkit-transition: .1s opacity !important;
  -moz-transition: .1s opacity !important;
  -ms-transition: .1s opacity !important;
  -o-transition: .1s opacity !important;
  transition: .1s opacity !important;
}

.edd-add-to-cart[data-edd-loading] .edd-add-to-cart-label {
  opacity: 0;
  filter: alpha(opacity=0);
}

.edd-add-to-cart[data-edd-loading] .edd-loading,
.edd-discount-loader.edd-loading {
  opacity: 1;
  filter: alpha(opacity=100);
}

.edd-cart-added-alert {
  color: #567622;
  display: block;
  position: absolute;
}


/* =Theme Specific styling
-------------------------------------------------------------- */

/* Twenty Twelve */
.edd_form input.edd-input.required,
.edd_form select.edd-select.required {
  color: #000;
}


/* =Receipt Page
-------------------------------------------------------------- */
body.edd_receipt_page {
  background-color: #fff;
  color: #141412;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

body.edd_receipt_page:before {
  position: relative;
}

body.edd_receipt_page #edd_receipt_wrapper {
  width: 660px;
  margin: 0 auto;
  padding: 50px 0;
}

body.edd_receipt_page table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
}

body.edd_receipt_page td,
body.edd_receipt_page th {
  display: table-cell;
  text-align: left;
  border-top: 1px solid #ededed;
  padding: 6px 10px;
  font-weight: normal;
}

body.edd_receipt_page th {
  font-weight: bold;
  text-transform: uppercase;
}

body.edd_receipt_page h3 {
  font-size: 22px;
  margin: 40px 0 5px;
  clear: both;
  display: block;
  font-weight: bold;
}

body.edd_receipt_page li {
  list-style: none;
}


/* =Purchase Summary Tables
-------------------------------------------------------------- */
table#edd_purchase_receipt_products,
table#edd_purchase_receipt {
  width: 100%;
}

table#edd_purchase_receipt_products td,
table#edd_purchase_receipt_products th,
table#edd_purchase_receipt td,
table#edd_purchase_receipt th {
  text-align: left;
}

table#edd_purchase_receipt .edd_receipt_payment_status.pending,
table#edd_purchase_receipt .edd_receipt_payment_status.cancelled,
table#edd_purchase_receipt .edd_receipt_payment_status.revoked,
table#edd_purchase_receipt .edd_receipt_payment_status.failed {
  color: #f73f2e;
}

table#edd_purchase_receipt_products li {
  list-style: none;
  margin: 0 0 8px 10px;
}

table#edd_purchase_receipt ul,
table#edd_purchase_receipt_products ul.edd_purchase_receipt_files {
  margin: 0;
  padding: 0;
}

table#edd_purchase_receipt li.edd_download_file {
  list-style: none;
  margin: 0 0 8px 0;
}

table#edd_purchase_receipt_products .edd_purchase_receipt_product_notes {
  font-style: italic;
}

table#edd_purchase_receipt_products .edd_purchase_receipt_product_name {
  font-weight: bold;
}

table#edd_purchase_receipt_products .edd_bundled_product_name {
  font-style: italic;
  font-weight: bold;
}


/* =Purchase History
-------------------------------------------------------------- */
#edd_user_history {
  //text-align: left;
  //width: 100%;
  //border-top: 1px solid #f0f0f0;
  //border-bottom: none;
}

#edd_user_history th,
#edd_user_history td {
  //text-align: left;
  //padding: 3px 5px;
  //border-bottom: 1px solid #f0f0f0;
  //border-top: none;
}

#edd_user_history th {
  //font-weight: bold;
  //background: #f5f5f5;
}

#edd_user_history td {
  //line-height: 25px;
  //vertical-align: middle;
}

#edd_user_history .edd_purchase_status.revoked,
#edd_user_history .edd_purchase_status.failed,
#edd_user_history .edd_purchase_status.cancelled,
#edd_user_history .edd_purchase_status.pending {
  color: #f73f2e;
}


/* =Registration / login Form
-------------------------------------------------------------- */
#edd_register_form legend,
#edd_login_form legend {
  font-size: 120%;
  margin-bottom: 1em;
}

#edd_register_form fieldset,
#edd_login_form fieldset {
  border: none;
}

#edd_register_form .edd-input,
#edd_login_form .edd-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#edd_register_form label,
#edd_login_form label {
  cursor: pointer;
}

/* =Profile Form
-------------------------------------------------------------- */
#edd_profile_editor_form p {
  margin-bottom: 8px;
}

#edd_profile_editor_form label {
  display: inline-block;
}

#edd_profile_editor_form .edd-profile-emails {
  list-style-type: none;
  display: inline-table;
  margin-left: 0;
  margin-bottom: 0;
}

#edd_profile_editor_form .edd-profile-email {
  width: auto;
}

#edd_profile_editor_form .edd-profile-email .actions {
  display: none;
}

#edd_profile_editor_form .edd-profile-email:hover > span {
  display: inline-block;
}


/* =Alerts
-------------------------------------------------------------- */
.edd_added_to_cart_alert {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #046a9e;
  background: #9ecce2;
  color: #333;
  margin: 8px 0;
}

.edd_added_to_cart_alert a.edd_alert_checkout_link {
  color: #000 !important;
}


/* =Purchase buttons
-------------------------------------------------------------- */
input.edd_submit_plain {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  display: inline;
  cursor: pointer;
}

.single-download .edd_download_purchase_form {
  margin-bottom: 1.387em;
}

.edd_download_purchase_form .edd_download_quantity_wrapper {
  margin: 0 0 0.5em;
}

.edd_download_purchase_form .edd_download_quantity_wrapper .edd-item-quantity {
  width: 75px;
}

.edd_download_purchase_form .edd_price_options {
  //margin: 0 0 15px;
}

.edd_download_purchase_form .edd_price_options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.edd_download_purchase_form .edd_price_options li {
  //display: block;
  //padding: 0;
  //margin: 0;

  @media screen and (max-width: 767px) {
    //width: 100%;
    //flex: auto;
    //margin: 6px 0 !important;
  }
}

.edd_download_purchase_form .edd_price_options span {
  //display: inline;
  //padding: 0;
  //margin: 0;
}

.edd_download_purchase_form .edd_price_options .edd_download_quantity_wrapper {
  //padding-left: 18px
}

.edd_download_purchase_form .edd_price_options .edd_download_quantity_wrapper * {
  //font-size: 80%
}

.edd_download_purchase_form .edd_price_options input.edd-item-quantity {
  //display: inline;
  //width: 50px;
  //max-width: 90%;
}

.edd-submit,
#edd-purchase-button,
[type="submit"].edd-submit {
  display: inline-block;
  //padding: 6px 12px;
  //margin: 0;
  //font-size: 14px;
  //font-weight: normal;
  //line-height: 1.428571429;
  //text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  //border: 1px solid #cccccc;
  //border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.edd-submit.button:focus,
[type="submit"].edd-submit:focus {
  //outline: thin dotted #333;
  //outline: 5px auto -webkit-focus-ring-color;
  //outline-offset: -2px;
}

.edd-submit.button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.edd-submit.plain {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/** Gray (Default) */
.edd-submit.button,
.edd-submit.button,
.edd-submit.button:visited,
.edd-submit.button,
.edd-submit.button.gray {
  //color: #333333;
  //background: #f0f0f0;
  //border-color: #cccccc;
}

.edd-submit.button:hover,
.edd-submit.button:focus,
.edd-submit.button:active,
.edd-submit.button.gray:hover,
.edd-submit.button.gray:focus,
.edd-submit.button.gray:active {
  //color: #333333;
  //background: #ebebeb;
  //border-color: #adadad;
}

.edd-submit.button.gray:active {
  background-image: none;
}

/** White */
.edd-submit.button.white {
  //color: #333333;
  //background: #ffffff;
  //border-color: #cccccc;
}


.edd-submit.button.white:hover,
.edd-submit.button.white:focus,
.edd-submit.button.white:active {
  //color: #333333;
  //background: #ebebeb;
  //border-color: #adadad;
}

.edd-submit.button.white:active {
  background-image: none;
}

/** Blue */
.edd-submit.button.blue {
  @extend .btn;
}

.edd-submit.button.blue:hover,
.edd-submit.button.blue:focus,
.edd-submit.button.blue.active {
  //color: #ffffff;
  //background: #3276b1;
  //border-color: #285e8e;
}

.edd-submit.button.blue.active {
  background-image: none;
}

/** Red */
.edd-submit.button.red {
  color: #ffffff;
  background: #d9534f;
  border-color: #d43f3a;
}

.edd-submit.button.red:hover,
.edd-submit.button.red:focus,
.edd-submit.button.red:active {
  color: #ffffff;
  background: #d2322d;
  border-color: #ac2925;
}

.edd-submit.button.red:active {
  background-image: none;
}

/** Green */
.edd-submit.button.green {
  color: #ffffff;
  background: #5cb85c;
  border-color: #4cae4c;
}

.edd-submit.button.green:hover,
.edd-submit.button.green:focus,
.edd-submit.button.green:active {
  color: #ffffff;
  background: #47a447;
  border-color: #398439;
}

.edd-submit.button.green:active {
  background-image: none;
}

/** Yellow */
.edd-submit.button.yellow {
  color: #ffffff;
  background: #f0ad4e;
  border-color: #eea236;
}

.edd-submit.button.yellow:hover,
.edd-submit.button.yellow:focus,
.edd-submit.button.yellow:active {
  color: #ffffff;
  background: #ed9c28;
  border-color: #d58512;
}

.edd-submit.button.yellow:active {
  background-image: none;
}

/** Orange */
.edd-submit.button.orange {
  color: #ffffff;
  background: #ed9c28;
  border-color: #e3921e;
}

.edd-submit.button.orange:hover,
.edd-submit.button.orange:focus,
.edd-submit.button.orange:active {
  color: #ffffff;
  background: #e59016;
  border-color: #d58512;
}

.edd-submit.button.orange:active {
  background-image: none;
}

/** Dark Gray */
.edd-submit.button.dark-gray {
  color: #fff;
  background: #363636;
  border-color: #222;
}

.edd-submit.button.dark-gray:hover,
.edd-submit.button.dark-gray:focus,
.edd-submit.button.dark-gray:active {
  color: #fff;
  background: #333;
  border-color: #adadad;
}

.edd-submit.button.dark-gray:active {
  background-image: none;
}


/* =Downloads Shortcode
-------------------------------------------------------------- */
.edd_downloads_list:after {
  content: "";
  display: table;
  clear: both;
}

.edd_download {
  float: left;
}

.edd_download_columns_1 .edd_download {
  width: 100%;
}

.edd_download_columns_2 .edd_download {
  width: 50%;
}

.edd_download_columns_0 .edd_download,
.edd_download_columns_3 .edd_download {
  width: 33%;
}

.edd_download_columns_4 .edd_download {
  width: 25%;
}

.edd_download_columns_5 .edd_download {
  width: 20%;
}

.edd_download_columns_6 .edd_download {
  width: 16.6%;
}

.edd_download_inner {
  padding: 0 8px 8px;
  margin: 0 0 10px;
}

.edd_download_columns_2 .edd_download:nth-child(2n+1),
.edd_download_columns_3 .edd_download:nth-child(3n+1),
.edd_download_columns_4 .edd_download:nth-child(4n+1),
.edd_download_columns_5 .edd_download:nth-child(5n+1),
.edd_download_columns_6 .edd_download:nth-child(6n+1) {
  clear: left;
}

.edd_download_image {
  max-width: 100%;
}

.edd_download .edd_price {
  margin-bottom: 10px;
}

/* =Misc styles
-------------------------------------------------------------- */
.edd-hide-on-empty.cart-empty {
  display: none;
}

edd-hide-on-empty.cart-not.empty {
  display: block;
}

.edd-cart-ajax {
  margin: 0 8px 0 4px;
  position: relative;
  top: 2px;
  background: none;
  border: none;
  padding: 0;
}

.edd-cart-number-of-items {
  font-style: italic;
  color: grey;
}

.edd-cart-meta.edd_subtotal {
  font-weight: bold;
  font-style: italic;
}

.edd-cart-meta.edd_cart_tax {
  font-size: 1em;
  font-style: italic;
}

/** Since this is a LI, make sure to not italicize any list item images */
.edd-cart-meta.edd_cart_tax::before {
  font-style: normal;
}

.edd-cart-meta.edd_total {
  font-weight: bold;
}

.edd-cart-meta {
  padding: 2px 5px;
}

.edd-cart-meta.edd_subtotal,
.edd-cart-meta.edd_total {
  background-color: #f9f9f9;
}


/** Old Error Styles */
/* =Error styles
-------------------------------------------------------------- */
.edd_errors:not(.edd-alert) {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #E6DB55;
  margin: 0 0 21px;
  background: #FFFFE0;
  color: #333;
}

.edd_error {
  padding: 10px;
}

p.edd_error {
  margin: 0 !important;
}


/* =Success Message styles
-------------------------------------------------------------- */
.edd_success:not(.edd-alert) {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #b3ce89;
  margin: 20px 0;
  background: #d5eab3;
  color: #567622;
  padding: 6px 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

/** End old Error */

/** Usage Is as Follows */
/* <div class="edd-alert edd-alert-error">This is your error message</div> */
/* Replace edd-error with the class of your choice */

/* Alert Styles */
.edd-alert {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid transparent;
  vertical-align: middle;
}

.edd-alert p {
  padding: 0;
}

.edd-alert p:not(:last-child) {
  margin-bottom: 5px;
}

.edd-alert p:last-child {
  margin-bottom: 0;
}

.edd-alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.edd-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.edd-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.edd-alert-warn {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


@import "custom";
@import "pricing-options";
@import "software-license";