.edd_price_options{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li{
      margin: 0 20px 20px 0;
      //flex-basis: 0;
      //-ms-flex-positive: 1;
      //flex-grow: 1;
      //max-width: 100%;
      display: flex;
      flex: 1;

      &:last-child{
        margin-right: 0 !important;
      }
    }
  }

  label{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .edd_price_option_wrap{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    background: #E7EDFF;
    cursor: pointer;
  }

  .edd_price_option_price {
    order: 1;
    color: #625AF4;
    font-size: rem(25px);
    font-family: $font__eina;
  }

  .edd_price_option_name {
    order: 2;
    color: #46485D;
    font-size: rem(14px);
    font-weight: 400;
  }

  input[type="radio"] {
    display: none;

    &:checked+.edd_price_option_wrap {
      background-color: #009FFF;

      .edd_price_option_price,
      .edd_price_option_name {
        color: #ffffff;
      }
    }
  }


}