/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
.wedocs-shortcode-wrap {
    ul {
        &.wedocs-docs-list {
            li {
                &.wedocs-docs-single-wrap {
                    margin-bottom: 30px;

                    .wedocs-docs-single {
                        background-color: #fff;
                        margin: 0;
                        position: relative;
                        // border: 1px solid #e5e5e5;
                        border-radius: 5px;
                        box-shadow: 0 2px 20px 0 rgba(16, 34, 65, 0.1);

                        h3 {
                            border-bottom: 1px solid #eee;
                            font-size: 18px;
                            font-weight: 600;
                            padding: 16px 12px;
                            margin: 0;
                            line-height: 1.4;
                            text-align: center;

                            a {
                                color: $color_menu_item;
                            }
                        }

                        .inside {
                            padding: 15px 25px 5px;
                            min-height: 60px;
                            
                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    margin-bottom: 12px;

                                    a {
                                        display: inline-block;
                                        padding-left: 25px;
                                        position: relative;
                                        color: $color_menu_item;

                                        &:hover {
                                            color: $color__primary;
                                        }

                                        &::before {
                                            content: "\f0f6";
                                            font-family: FontAwesome;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            color: #bdbdbd;
                                        }
                                    }
                                }
                            }
                        }
                        .wedocs-doc-link{
                            border: none;
                            text-align: center;
                            padding: 0 10px 10px;
                            font-size: 14px;
                            color: #a2a4b5;

                            a {
                                color: inherit;
                                transition: color 0.3s;

                                &:hover {
                                    color: $color__primary;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

.wedocs-single-wrap.pluginever-doc-search-page {
    .wedocs-single-content {
        .entry-header {
            padding: 0;
            margin-bottom: 5px;
    
            .entry-title {
                margin: 0;
                font-size: 1.1rem;

                a {
                    display: inline-block;
                    padding-left: 25px;
                    position: relative;
                    color: $color_menu_item;

                    &:hover {
                        color: $color__primary;
                    }

                    &::before {
                        content: "\f0f6";
                        font-family: FontAwesome;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #bdbdbd;
                        font-weight: 400;
                    }
                }
            }
        }

        .entry-content {
            padding-left: 25px;
        }
    }
}

