/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
.wedocs-single-wrap {
    margin-top: 75px;

    .wedocs-single-content {
        box-shadow: 0 2px 20px 0 rgba(16, 34, 65, 0.1);
        padding: 20px 40px;
        background-color: #fff;
    
        .entry-header{
            text-align: left;
            padding-top: 1.5rem;
    
            h1 {
                font-size: 1.6rem;
                line-height: 1.6;
            }
        }

        .article-child {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 12px;
                    
                    a {
                        display: inline-block;
                        padding-left: 25px;
                        position: relative;
                        color: $color_menu_item;

                        &:hover {
                            color: $color__primary;
                        }

                        &::before {
                            content: "\f0f6";
                            font-family: FontAwesome;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #bdbdbd;
                        }
                    }
                }
            }
        }
    }
    
    .wedocs-sidebar {
        padding-right: 20px;

        h3 {
            &.widget-title {
                margin-bottom: 0;
                border-bottom: 1px solid #e4e4e4;
                font-size: 1.3rem;
                margin-bottom: 15px;
                margin-right: -20px;
                padding-right: 20px;
            }
        }

        ul {
            &.doc-nav-list {
                li {
                    margin-bottom: 10px;
                    a {
                        padding: 0;
                        color: $color_menu_item_hover;
                    }

                }
                > li {
                    &.current_page_item,
                    &.current_page_ancestor {
                        > a {
                            background-color: transparent;
                            color: $color_menu_item;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.pluginever-doc-search-form {
    position: relative;
    margin-bottom: 20px;

    input[type="search"] {
        position: relative;
        z-index: 1;
        padding: 6px 12px;
        padding-right: 42px;
        border: 1px solid #e8e8e8;
    }

    .pluginever-doc-search-submit {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        color: $color_menu_item;
        padding: 10px 13px;
        z-index: 99;
        cursor: pointer;
        line-height: 1;
    }
}