table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;

	th,
	td {
		padding: 0.75rem;
		vertical-align: top;
		border-top: 1px solid #dee2e6;
	}

	tbody + tbody {
		border-top: 2px solid #dee2e6;
	}

	tbody tr:nth-of-type(odd) {
		background-color: rgba(0, 0, 0, 0.01);
	}

}



