$color__primary: #3211C1;
$color__secondary: #EEEDFF;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #46485D;
$color__heading: #54595f;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color_menu_item: #312D3B;
$color_menu_item_hover: #4c5357;

$table_header: #5B54EE;


//Buttons
$color__primary-button-bg: #FC7171;
$color__primary-button: #FFFFFF;
$color__secondary-button-bg: #5f5ff9a6;
$color__secondary-button: #CBBEFE;


//Colors
$color__black: #1F2027;