a {
  -webkit-transition: .05s ease-in-out;
  transition: .05s ease-in-out;
  text-decoration: none;
  color: $color__link;

  &:visited {
    //color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}