.main-navigation {
  clear: both;
  display: block;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;

    ul {
      box-shadow: 0 5px 30px -11px rgba(0, 0, 0, 0.2);
      float: left;
      background-color: $color__background-body;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;
      width: 230px;
      border-radius: 3px;
      transition: all 0.3s;

      &:before {
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -8px;
        content: " ";
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ffffff;
        border-left: 8px solid transparent;
      }

      ul {
        left: -999em;
        top: 0;
      }

      li {
        width: 100%;
        border-bottom: solid 1px #eaedfa;

        &:last-child {
          border-bottom: 0;
        }

        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        font-size: rem(15px);
        line-height: 2;
        position: relative;
        margin: 0;
        padding: 7px 20px;
        text-transform: none;
        border-bottom: none;
        font-weight: 400;
        // width: 200px;
      }
    }
  }

  li {
    display: inline-block;
    word-wrap: break-word;
    position: relative;

    &:hover > a,
    &.focus > a {
      color: $color__primary;
    }
  }

  a {
    font-family: $font__maisonneue;
    font-weight: 400;
    display: block;
    text-decoration: none;
    padding: 7px 15px;
    color: $color_menu_item;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    color: $color__primary;
  }

  .menu-item-has-children {
    padding-right: 10px;

    &:before {
      content: "\f078";
      display: inline-block;
      font: normal normal normal 10px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 0;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  .menu-toggle {
    &:focus {
      box-shadow: none;
    }
  }

  @media screen and (min-width: 992px) {
    //account menu
    a[href*="my-account"] {
      border-radius: 21px;
      color: #3211C1;
      border: 1px solid $color__primary;
      line-height: 1.4;

      &:hover {
        color: #ffffff;
        background-color: $color__primary;
        box-shadow: none
      }
    }
  }
}

.no-header-bg .site-header:not(.is-sticky) {

  @media screen and (min-width: 992px) {
    .main-navigation {
      a {
        color: #FFFFFF;
      }

      .sub-menu li a {
        color: #555;
      }

      .menu-item-has-children:before {
        color: #ffffff;
      }
    }
    a[href*="my-account"] {
      border: 1px solid #ffffff;

      &:hover {
        color: $color__primary;
        background-color: #ffffff;
        box-shadow: none
      }
    }
  }

}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

@media screen and (min-width: 991px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }

  .menu-item-has-children {
    .sub-menu {
      visibility: hidden;
      opacity: 0;
    }
  }
  .menu-item-has-children:hover {
    .sub-menu {
      opacity: 1;
      visibility: visible;
      left: auto;
    }
  }
}

@media screen and (max-width: 991px) {
  .main-navigation {
    width: 100%;

    .menu-toggle {
      background: transparent;
      color: #ababab;
      font-size: 24px;
      position: absolute;
      top: 6px;
      right: 15px;
      padding: 0;
    }

    .nav-menu {
      padding: 0 15px;
      margin: 10px 0;

      li {
        display: block;

        a {
          padding-left: 0;
          padding-right: 0;
        }

        &.menu-item-has-children {
          .sub-menu {
            margin-left: 0 !important;
            width: 100%;
            padding: 0 15px;
            box-shadow: none;
            background: none;

            li {
              border: none;

              a {
                padding: 3px 20px;
              }
            }
          }

          &.active {
            &:before {
              content: "\f077";
            }

            .sub-menu {
              left: auto;
              position: relative;
            }
          }
        }
      }
    }

    &.toggled {
      .fa-bars:before {
        content: "\f00d";
      }
    }
  }
}
