.page-navigation{
  margin: rem(20px) 0;
  display: inline-block;
  width: 100%;

  .page-numbers {
    padding: rem(10px) rem(15px);
    display: inline-block;
    border-radius: 2px;
    line-height: 1;
    background: $color__secondary;
    color: $color__primary;
    font-size: inherit;
    text-decoration: none;

    &:hover {
      background: $color__primary;
      color: #ffffff;
    }

    &.current{
      background-color: $color__primary;
      color: #ffffff;
    }

  }
}